<div class="container">
    <div class="row">
        <div class="col-12 mt-3" *ngIf="formError">
            <p style="color: red">{{errorMessage}}</p>
        </div>
        <div class="col-md-12 mt-3">
            <p>Wybierz odmianę</p>
            <form [formGroup]="plantForm">
            <select style="padding: 6px; width: 100%" formControlName="plant">
                <option [value]="i.id" *ngFor="let i of plants">
                    {{i.id + '. ' + i.name + ' (' + i.size + 'cm, ' + i.potCap + 'l)'}}
                </option>
            </select>
            </form>
        </div>
        <div class="col-12 mt-3">
            <p>Podaj ilość</p>
            <input type="number" min="0" style="width: 100%; padding: 6px;" [(ngModel)]="quantity">
        </div>
        <div class="col-12 mt-3 mb-3">
            <button class="btn btn-primary" (click)="confirm()">{{ (editedIndex > -1) ? 'Zatwierdź' : 'Dodaj' }}</button>
        </div>
    </div>
</div>
