<div style="margin-top: 8vh"></div>
<div id="excelTable">
    <table class="table table-bordered" style="color:rgb(0, 0, 0);">
        <tr>
            <th colspan="6" class="text-center">{{orderName}}</th>
        </tr>
        <tr *ngFor="let x of head">
            <th *ngFor="let y of x">{{y}}</th>
        </tr>
        <tr *ngFor="let i of plants, let ind = index">
            <!-- <tr *ngFor="let i of plants, let ind = index" 
        [ngClass]="{'avoidThisRow' : (ind == 20 || ind == 43 || ind == 64 || ind == 86 || ind == 108 || ind == 130)}"> -->
            <td>{{ind + 1}}</td>
            <td>{{i.name}}</td>
            <td>{{i.size}}cm</td>
            <td>{{i.potCap}}</td>
            <td>{{i.quantity}}</td>
            <td>{{i.price}}</td>
            <td data-html2canvas-ignore="true" (click)="edit(ind, addPlantComponent)" style="cursor:pointer;">
                <fa-icon [icon]="icon2"></fa-icon>
            </td>
            <td data-html2canvas-ignore="true" (click)="removeByIndex(ind)" style="cursor:pointer;">
                <fa-icon [icon]="icon"></fa-icon>
            </td>
        </tr>
    </table>
</div>
<div class="row" style="margin-top: 5vh;">
    <div class="col-2 d-flex justify-content-start">
        <button class="btn-primary" style="padding: 9px;" (click)="add(addPlantComponent)">Dodaj pozycję</button>
    </div>
    <div class="col-8"></div>
    <div class="col-2 d-flex justify-content-end">
        <button class="btn-success" style="padding: 9px;" (click)="SavePDFFile(printedTable)">Pobierz PDF</button>
    </div>
</div>
<ng-template #addPlantComponent>
    <app-add-plant [editedIndex]="editedIndex" (loadPlant)="loadPlant()"></app-add-plant>
</ng-template>
<div #printedTable style="display: none;">
    <table class="table table-bordered" style="color:rgb(0, 0, 0);">
        <tr>
            <th colspan="6" class="text-center">{{orderName}}</th>
        </tr>
        <tr *ngFor="let x of head">
            <th *ngFor="let y of x">{{y}}</th>
        </tr>
        <tr *ngFor="let i of plants, let ind = index">
            <!-- <tr *ngFor="let i of plants, let ind = index" 
            [ngClass]="{'avoidThisRow' : (ind == 20 || ind == 43 || ind == 64 || ind == 86 || ind == 108 || ind == 130)}"> -->
            <td>{{ind + 1}}</td>
            <td>{{i.name}}</td>
            <td>{{i.size}}cm</td>
            <td>{{i.potCap}}</td>
            <td>{{i.quantity}}</td>
            <td>{{i.price}}</td>
        </tr>
    </table>
</div>