<div style="margin-top: 8vh"></div>
<table class="table table-bordered" id="excelTable" style="color:rgb(0, 0, 0); margin: 1px;">
    <tr>
        <th colspan="6" class="text-center">Zestawienie Roślin</th>
    </tr>
    <tr *ngFor="let x of head">
        <th *ngFor="let y of x">{{y}}</th>
    </tr>
    <tr *ngFor="let i of plants, let ind = index">
        <td>{{ind + 1}}</td>
        <td *ngFor="let j of i">{{j}}</td>
        <td data-html2canvas-ignore="true" (click)="removeByIndex(ind)"><fa-icon [icon]="icon"></fa-icon></td>
    </tr>
</table>
<div class="row" style="margin-top: 5vh;">
    <div class="col-2 d-flex justify-content-start">
        <button class="btn-primary" style="padding: 9px;" (click)="open()">Dodaj pozycję</button>
    </div>
    <div class="col-8"></div>
    <div class="col-2 d-flex justify-content-end">
        <button class="btn-success" style="padding: 9px;" (click)="SavePDFFile()">Pobierz PDF</button>
    </div>
</div>